.container {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 1500px; /* Increased max-width for the container */
    margin-top:60px;
    padding: 20px;
    background: #f5f5f5;
    margin-left: 240px;
    margin-right: 50px;

  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  table {
    margin-top: 100px ;
    width: 100%;
    max-width: 100%; 
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  thead {
    background: #B43F3F;
    color: #fff;
  }
  
  thead th {
    padding: 10px; 
    text-align: center;
    cursor: pointer;
    
  }

  thead th.empty-header {
    background: #f5f5f5; 
    border: none;
  }
  
  .section-header {
    background: #f5f5f5;
    border: none; 
  }
  
  .vertical-line {
    border-right: 2px solid #ddd; 
  }

  tbody tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  tbody tr:last-child {
    border-bottom: none;
  }
  
  tbody td {
    padding: 12px; 
    text-align: center;
  }

  .container .search-box {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .container .search-box input {
    width: 18%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .download-button{
    position: absolute;
    background-color: white;
    color: #173B45;
    border-color: #173B45;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 990px;
  }
  
  .download-button:hover {
    background-color: #173B45;
    color: white;
    border: 2px solid #173B45;
  }
  