<div *ngIf="paiement">
    <div class="container">
    <h2>Détails du Paiement : {{ paiement.paiementID }}</h2>
    <div>
      <p><strong>Libellé:</strong> {{ paiement.libelle }}</p>
      <p><strong>Montant Payé:</strong> {{ paiement.montantPaye }} DT</p>
      <p><strong>Date Paiement:</strong> {{ paiement.datePaiement }}</p>
    </div>
  
    <div>
      <table>
        <thead>
          <tr>
            <th>Reference Facture</th>
            <th>Libelle Facture</th>
            <th>Montant Payé</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paiementSpecifique of paiementSpecifiques">
            <td>{{ paiementSpecifique.facture?.referenceFacture }}</td>
            <td>{{ paiementSpecifique.facture?.libelle }}</td>
            <td>{{ paiementSpecifique.montantPaye }} DT</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
