<!-- home-page.component.html -->
<div class="container" *ngIf="dataLoaded; else loading">
    <div class="header">
      <h2><strong>Total créances</strong></h2>
      <h3><strong>{{ totalEchues + totalNonEchues }} DT</strong></h3>
    </div>
    <div class="status-chart-container">
      <div class="status">
        <div class="status-box">
          <h4>En Retard</h4>
          <p>{{ totalEchues }} DT</p>
        </div>
        <div class="status-box">
          <h4>À venir</h4>
          <p>{{ totalNonEchues }} DT</p>
        </div>
      </div>
      <div class="chart">
        <canvas id="piechart"></canvas>
        <div class="chart-info">
          <!-- <div class="chart-item">
            <span class="color non-echues"></span> Non echues
          </div>
          <div class="chart-item">
            <span class="color echues"></span> Echues
          </div> -->
        </div>
      </div>
    </div>
    <div class="clients">
      <h3>Mes Clients</h3>
      <table>
        <thead>
          <tr>
            <th>Reference Client</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Non echues</th>
            <th>Echues</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients" (click)="viewClientProfile(client)">
            <td>{{ client.referenceClient }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>{{ client.nonEchues }} DT</td>
            <td>{{ client.echues }} DT</td>
          </tr>
          <tr>
            <td>........</td>
            <td>........</td>
            <td>........</td>
            <td>........</td>
            <td>........</td>
          </tr>
        </tbody>
      </table>
      <div class="details-button">
        <button (click)="viewDetails()">Voir en détails</button>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="loading">
      Loading data...
    </div>
  </ng-template>
  